* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
}

.header {
    background-color: rgb(65, 204, 242);
    text-align: center;
    padding: 10px 0;
}

.button {
    background-color: rgb(160, 102, 0);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    border: 5px black solid;
    border-radius: 5px;
    padding: 15px 20px;
    padding: 15px;
    width: 400px;
}

.button:hover {
    background-color: rgb(96, 228, 63)
}

.buttonCOLOR {
    background-color: rgb(160, 102, 0);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    border: 5px black solid;
    border-radius: 5px;
    padding: 15px 20px;
    padding: 15px;
    width: 400px;
    height: 80px;
}

.buttonCOLOR:hover {
    scale: 1.05;
}


.buttonRED {
    background-color: rgb(160, 102, 0);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    border: 5px black solid;
    border-radius: 5px;
    padding: 15px 20px;
    padding: 15px;
    width: 400px;
}

.buttonRED:hover {
    background-color: rgb(236, 16, 16);
    color: white;
}


.buttonHIDE {
    background-color: rgb(65, 204, 242);
    color: rgb(65, 204, 242);
    font-size: 3rem;
    font-weight: bold;
    padding: 15px 20px;
    padding: 15px;
    width: 250px;
}

.buttonHIDE:hover {
    color: white;
}


.button2 {
    margin-top: 10px;
    background-color: rgb(160, 102, 0);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    border: 5px black solid;
    border-radius: 100px;
    margin-left: 20px;

    padding: 15px;
}

.button2RED {
    margin-top: 10px;
    background-color: rgb(236, 16, 16);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    border: 5px black solid;
    border-radius: 100px;
    margin-left: 20px;

    padding: 15px;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-right: 80px;
    flex: 1; 
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.suprema{

    display: flex;
    flex-direction:column;
    gap: 30px;

}

main {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;
    background-color: rgb(65, 204, 242);
    min-height: 88.9vh;
    height: max-content;

    padding: 5%;
}

.star {
    height: 280px;
}

.menor {
    height: 250px;
}

.mini {
    height: 200px;
}

.esquerda_baixo {
    height: 160px;
}

.esquerda_cima {
    height: 160px;
}

.direita_baixo {
    height: 160px;
}

.direita {
    height: 160px;
}

.esquerda {
    height: 160px;
}

.baixo {
    height: 160px;
}

.cima {
    height: 160px;
}

.mini2 {
    height: 160px;
}

.rey {
    height: 160px;
}

.mini2:hover {
    content: url('/GenioQuizBrau/imagens/El_Primo.png'); /* Altere para o caminho da nova imagem */
}

.baixo:hover {
    content: url('/GenioQuizBrau/imagens/baixo.png'); /* Altere para o caminho da nova imagem */
}

.rey:hover {
    content: url('/GenioQuizBrau/imagens/El_Primo.png'); /* Altere para o caminho da nova imagem */
}

.esquerda_baixo:hover {
    content: url('/GenioQuizBrau/imagens/esquerda_baixo.png'); /* Altere para o caminho da nova imagem */
}

.direita_baixo:hover {
    content: url('/GenioQuizBrau/imagens/direita_baixo.png'); /* Altere para o caminho da nova imagem */
}

.direita:hover {
    content: url('/GenioQuizBrau/imagens/direita.png'); /* Altere para o caminho da nova imagem */
}

.esquerda:hover {
    content: url('/GenioQuizBrau/imagens/esquerda.png'); /* Altere para o caminho da nova imagem */
}

.cima:hover {
    content: url('/GenioQuizBrau/imagens/cima.png'); /* Altere para o caminho da nova imagem */
}

.esquerda_cima:hover {
    content: url('/GenioQuizBrau/imagens/esquerda_cima.png'); /* Altere para o caminho da nova imagem */
}


.fm {
    height: 400px;
}

.button-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os botões */
    gap: 20px; /* Espaçamento entre os botões */
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 130px;
}

.footer {
    position: absolute;
    bottom: 20px; /* Distância do rodapé */
    right: 20px; /* Distância da direita */
    color: black;
    font-size: 1rem;
}

.button-like {
    display: inline-block;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.button-like:hover {
    scale: 1.3;
}

.button-liki {
    display: inline-block;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.button-liki:hover {
    scale: 1.1;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.image-button img {
    display: block;
}

.maior {
    height: 450px;
}

.separar {
    display: flex;
    justify-content: center;
}

.separar2 {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.button-like-white {
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

.button-like-white:hover {
    scale: 1.1;
}

.box {
    background-image: url('/Genio-Quiz---Brawl-Stars/imagens/moitas.jpeg');
    background-size: cover;
    height: 50vh;
    width: 50vh;
}

.labirinto {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(65, 204, 242);
}

.parede, .borda {
    position: absolute;
    background-color: #e74c3c; /* Cor da parede */
}

.meta {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.tv {
    width: 2000%;
    height: 60vh;
    max-width: 1200px;
    background-color: #333;
    border: 20px solid #555;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.screen {
    width: 100%;
    height: 100%;
    background-color: rgb(65, 204, 242);
    position: relative;
    overflow: hidden;
}


.cd {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.cd img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.selected {
    background-color: yellow ; 
}

.button-likii {
    background-color: transparent;
    display: inline-block;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.button-likii:hover {
    scale: 1.1;
}

.button-likii.selected {
    background-color: yellow; /* Cor de fundo quando selecionado */
    color: black; /* Cor do texto quando selecionado */
}

.buttton {
    cursor: pointer;
    background-color: rgb(160, 102, 0);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    border: 5px black solid;
    border-radius: 5px;
    padding: 15px 20px;
    padding: 15px;
    width: 400px;
}

.buttton.selected{
    background-color: yellow
}

.warning {
    background-color: red; 
    color: white;
}

.letra {
    background-color: rgb(160, 102, 0);
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
    height: 50px;
}


.alfabeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
}



#mapa {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

#boneco {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-likki {
    display: inline-block;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.button-likki:hover::after {
    content: "Matias Zuniga";
}
.button-likki::after {
    content: "Adrian Gobara";
}

.forca {
    background-color: white;
    height: 400px;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.less {
    width: 40%;

}

.letra:hover{
    background-color: rgb(96, 228, 63);
}

.palavra{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.letter{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #363636;
    width: 20%;
    height: 50px;
    border: black;
    border-radius: 5%;
    padding: 30px;
    font-size: 2.4rem;
    color: white;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center; 
}

